@namespace BlazorWasmPlanner.Components

<div class="m-1 p-1 d-flex flex-row align-center">
    <div style="width:50px;height:50px;background-color:yellow" class="flex-shrink">

    </div>

     <div style="width:50px;height:50px;background-color:yellow" class="flex-shrink">

    </div>
</div>